.Person{
    width: 60%;
    margin: 16px auto;
    border: 1px solid cadetblue;
    box-shadow: 0 2px 3px cadetblue;
    text-align: center;
}

@media  (min-width: 500px){
    .Person{
        width:350px;
    }
}